div
  script(type="@plotdb/block"): :lsc
    module.exports =
      pkg:
        extend: path: \base.html
        dependencies: [
          * path: \index.js
        ]
      init: ({root}) ->
        console.log "[infer-test] index.html inited."
  .bg-light(plug="content")
    h4 infer-test/index.html
    div name / version of base block for this block is inferred from this block.
