extends /base.pug
block prehead
  base(href="/")
block body
  template
    div(block="d3-base@main"): div base
    div(block="d3-child@main"): div child
    script(type="text/javascript"): include:lsc block.ls

block script
  script: include:lsc index.ls
