extends /base.pug
block prehead
  base(href="/")
block body
  .w-1024.rwd.mx-auto.my-4
    div: :md
      use `opt.root` (red) and `opt.code` (yellow) from block node in template
    #root1.d-flex.flex-wrap.align-items-center.justify-content-center(style="gap:1em")
    template
      .p-2
        h3 opt.root
        style(type="text/css").
          h3 { color: #f00; padding: 5px; margin: 0 }
        script: :lsc
          init: ({root}) ->
            root.style.background = <[#000 #222 #444 #666]>[Math.floor(Math.random! * 4)]
            console.log \inited.
      .p-2
        h3 opt.code
        style(type="text/css").
          h3 { color: #ff0; padding: 5px; margin: 0 }
        script: :lsc
          init: ({root}) ->
            root.style.background = <[#000 #222 #444 #666]>[Math.floor(Math.random! * 4)]
            console.log \inited.

block script
  script(type="module"): include:lsc index.ls
