doctype html
html
  include /../../static/assets/lib/ldui/pug/ldui.pug
  head
    +css("/assets/lib/bootstrap/main/css/bootstrap.min.css")
    style(style="text/css"): :stylus
      html,body { width: 100%; height: 100%}
  body
    +script("/assets/lib/ldui/ldui.min.js")
    +script("/js/bm.js")

