extends /base.pug
block head
  style(type="text/css"): :stylus
    html, body { width: 100%; height: 100%; background: #fff }
    #container
      width: 100%
      height: 100%
    .mwb
      width: 1024px
      margin: auto
    .mwb.mwb-full
      width: 100%
      height: 100%
block body
  .position-fixed.z-fixed.w-100.h-100.ldld.running.ld-over-full-inverse(ld="loader",style="top:0;left:0")
    .ld.ld-spinner.ld-spin
  #container(ld="container")
    .w-1024.mx-auto(ld="inner")
  .form-long-answer hi
block script
  +script("js/index.js")
