.d-none
  plug.text-danger(data-note="from base",name="base") this is the original content, unoverwritten, in base block
  script(type="@plotdb/block"): :lsc
    module.exports = {
      pkg: {}
      init: ({root}) -> @root = root
      toggle: ->
        if !(it?) => return
        @root.classList.toggle \d-none, !it
        setTimeout (~> @root.scrollIntoView!), 1000
      interface: -> @
    }
