extends /base.pug
block prehead
  base(href="/")
block body
  .w-1024.rwd.mx-auto.my-4
    h3 Use Plug Directly in HTML DOM
    :md
      While you can use plug in block extension hierarchy, you can also use plug directly with  a single block, when initializing it in a root with plugs already provided in its DOM.
      In other words, nodes with `plug` attributes under root will be applied directly to the block's plug slots.

      Here we design a conditional display block that only displays when its `toggle()` called with `true` as parameter. However, its content is determined by user with `<div plug="base">`, e.g.,

          #container: div(plug="base") this is my content
          script
            mgr.get({name: "base"})
              .then -> it.create!
              .then -> it.attach {root: container}

       Additionally, we use `ldview` bound buttons to trigger `toggle(true)` of corresponding block so content will be shown upon button clicked.
    hr
    .d-none(ld="root")
      .btn.btn-outline-secondary(ld="choice",data-target="first") show first
      div(ld="group",data-name="first")
        .my-4(plug="base")
          div this is the first block
          .btn.btn-outline-secondary(ld="choice",data-target="second") next
          div(ld="group",data-name="second")
            .my-4(plug="base")
              div this is the secondary block
              .btn.btn-outline-secondary(ld="choice",data-target="original") next
              .mt-4(ld="group",data-name="original")
      .py-4: hr
      h3 Use Plugs with Child Blocks

      .mb-4 Instead of us plug from HTML Dom, below is plugs in inheritance scenario.
      .row
        .col-md
          .text-lg.font-weight-bold child A
          .mb-2 plug "base" defined, overwrites base's default
          .border.rounded.p-4(ld="child",data-name="childa")
        .col-md
          .text-lg.font-weight-bold child B
          .mb-2 plug "base" not defined, base's default used instead
          .border.rounded.p-4(ld="child",data-name="childb")

block script
  script(type="module"): include:lsc index.ls
