div
  script(type="@plotdb/block"): :lsc
    module.exports =
      devname: "base"
      pkg:
        name: "base"
        dependencies: [
          {url: "https://cdn.jsdelivr.net/npm/proxise@1.0.1/index.min.js"}
          {url: "/test.js"}
          {name: "main", type: "js"}
        ]
      interface: -> print: -> console.log 'base.interface.print'
      init: -> console.log 'base.init'
