div
  b circular-2
  div(plug="circular-3")
    plug(name="circular-2")
  script(type="@plotdb/block"): :lsc
    module.exports = {
      pkg: extend: {name: "circular-3", version: "0.0.1"}
      init: ->
    }
