.mwb
  script(type="@plotdb/block"): :lsc
    module.exports = init: -> console.log "[infer-test] base block inited."
  .rounded.mx-auto.w-100.rwd.p-4.rounded.shadow.border
    h3 infer-test/base block ( 0.0.2 )
    plug(name="content")
